@{
    ViewBag.Title = "Pricing";
    Layout = "~/Views/Shared/Master_LayoutPage1.cshtml";
}


         <div class="col-sm-12" style="background-color:lightgray; text-align:center; padding:20px;">
            <b><font color="black"  size="6px">Keep everything safe and accessible.</font></b>
         </div>



         <div class="col-sm-12" style="background-color:lightgray; text-align:center; padding:20px;">
            <b><font color="white"  size="12px">Choose Your Plan</font></b>
         </div>

         <div class="col-sm-12" style="background-color:lightgray; text-align:center; padding:20px;">
            <img src="~/Content/Plan_do_check_act.png" / style="width:60%;">
         </div>


         <div class="col-sm-12" style="background-color:white; text-align:center; padding:20px;">
          <b><font color="red" size="10px">Who We Are</font></b><br />
                 <b><font color="black" size="5px">GPS Trackit is a software product development company that delivers a powerful and highly customizable suite of web-based fleet management solutions. Our solutions are specifically designed to help your company improve operations, reduce costs, and boost productivity.</font></b>
         </div>



   
         <div class="col-sm-4" style="background-color:white; text-align:left; padding:40px; background-image:url(~/Content/Reticular-Tissue-White-Seamless-Texture.jpg);">
            



            <b><font color="darkblue"  size="5px"><u>Software Development</u></b><br /><br /></font>
             <font color="black"  size="3px">
           Unlike many other fleet management providers, we actually develop and operate our own software. Our fleet management solutions are made to fit your business, not the other way around. 
         </font></div>

<div class="col-sm-4" style="background-color:white; text-align:left; padding:40px;">
            <b><font color="darkblue"  size="5px"><u>Business Solutions</u></b><br /><br /></font>
             <font color="black"  size="3px">
          Our solutions are designed to help you manage and optimize your fleet’s everyday activities. From initial onboarding to eventually realizing the full potential of our software, we will always be there to help you empower your fleet.</font></div>


<div class="col-sm-4" style="background-color:white; text-align:left; padding:40px;">
            <b><font color="darkblue"  size="5px"><u>Strategic Partnerships</u></b><br /><br /></font>
             <font  color="black"  size="3px">
        Our partnerships with software retailers, third-party software companies, and GPS tracking installers enhance our ability to make our robust, feature-rich products available to you. </font></div>


         <div class="col-sm-12" style="background-color:lightgray; text-align:center; padding:20px;">
          <b><font color="darkblue" size="6px">Pricing Guide</font></b><br />
                 <b><font color="black" size="4px">Get started with free or upgrade to a premium plan.</font></b>
         </div>


         <div class="col-sm-4" style="background-color:white; text-align:center; border:3px dotted blue;">
            <div class="row" style="background-color:black; text-align:center; padding:20px; color:white;"> 
                <b>Vehicle Pricing</b>
            </div>
             <div class="row" style="background-color:lightgray; text-align:center; padding:10px; color:black;"> 
  <table class="table">
    <thead >
      <tr style="background-color:gray; color:white;">
        <th>Plan</th>
        <th>Price</th>
      </tr>
    </thead>
    <thead >
      <tr >
        <th>Monthly Plan</th>
        <th>2.00$/Month</th>
      </tr>
    </thead>
    <thead >
      <tr>
        <th>Yearly Plan</th>
        <th>20.00$/year</th>
      </tr>
    </thead>
    <thead >
      <tr>
        <th>Re-seller Plan</th>
        <th>50.00$</th>
      </tr>
    </thead>
  </table>
</div>
             <div class="row" style="background-color:blue; text-align:right; padding:20px; color:white;"> 
               Coming Soon....
            </div>
          </div>


         <div class="col-sm-4" style="background-color:white; text-align:center; border:3px dotted blue;">
            <div class="row" style="background-color:black; text-align:center; padding:20px; color:white;"> 
                <b>Personal Pricing</b>
            </div>
             <div class="row" style="background-color:lightgray; text-align:center; padding:10px; color:black;"> 
  <table class="table">
    <thead >
      <tr style="background-color:gray; color:white;">
        <th>Plan</th>
        <th>Price</th>
      </tr>
    </thead>
    <thead >
      <tr>
        <th>Monthly Plan</th>
        <th>2.00$/Month</th>
      </tr>
    </thead>
    <thead >
      <tr>
        <th>Yearly Plan</th>
        <th>20.00$/year</th>
      </tr>
    </thead>
    <thead >
      <tr>
        <th>Re-seller Plan</th>
        <th>50.00$</th>
      </tr>
    </thead>
  </table>
</div>
             <div class="row" style="background-color:blue; text-align:right; padding:20px; color:white;"> 
               Coming Soon....
            </div>
          </div>


         <div class="col-sm-4" style="background-color:white; text-align:center; border:3px dotted blue;">
            <div class="row" style="background-color:black; text-align:center; padding:20px; color:white;"> 
                <b>Investigation Pricing</b>
            </div>
             <div class="row" style="background-color:lightgray; text-align:center; padding:10px; color:black;"> 
  <table class="table">
    <thead >
      <tr style="background-color:gray; color:white;">
        <th>Plan</th>
        <th>Price</th>
      </tr>
    </thead>
    <thead >
      <tr>
        <th>Monthly Plan</th>
        <th>2.00$/Month</th>
      </tr>
    </thead>
    <thead >
      <tr>
        <th>Yearly Plan</th>
        <th>20.00$/year</th>
      </tr>
    </thead>
    <thead >
      <tr>
        <th>Re-seller Plan</th>
        <th>50.00$</th>
      </tr>
    </thead>
  </table>
</div>
             <div class="row" style="background-color:blue; text-align:right; padding:20px; color:white;"> 
               Coming Soon....
            </div>
          </div>

   