@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/Admin_LayoutPage1.cshtml";
}


<script>
  //  function validateForm2() {

    //   var x = document.forms["myForm2"]["password"].value;
      //var y= document.forms["myForm2"]["repassword"].value;
   
        //if (y == x) {

      //return true;
//}
//else {
  //alert("password and cpassword must be same");
 //return false;}
//}
    
    

</script>


<h2>ChangePassword</h2>
    @using GPSTrackingWebApp
                @{
                    mygpsEntities2 dt = new mygpsEntities2();
                    var k = dt.logins.ToList();
                     foreach (login c in k)
                     {
                          if (c.email.Equals(Session["email"]))
                          {
                         
                         
 <form class="form-horizontal" name="myForm2" onsubmit="return validateForm2()" role="form" method="post" action="/AdminPanel/ChangePassword" enctype="multipart/form-data" style="padding:40px; ">
     
     <div class="form-group">
            <div class="col-sm-8">
                <input type="hidden" value="@c.sno"  name="sno" class="form-control">
            </div>
        </div>
     
     <div class="form-group">
            <label class="control-label col-sm-3">Enter Your Email Address:</label>
            <div class="col-sm-8">
                <input type="email" style="width:80%;" id="email"  name="email" placeholder="Enter email address" class="form-control" required>
            </div>
        </div>


                     <div class="form-group">
            <label class="control-label col-sm-3">Enter New Password:</label>
            <div class="col-sm-8">
                <input type="password" style="width:80%;" ID="password" name="password" placeholder="Enter New Password" class="form-control" required maxlength="10">
            </div>
        </div>


                
          <div class="form-group">        
      <div class="col-sm-offset-3 col-sm-4">
        <button type="submit" class="btn btn-danger">Change Password</button>
                
          

<font color="green">

      @if (ViewBag.Message != null)
         { 
    
     @ViewBag.Message


    }


 </div>

              

    </div>



                    <!..................>


              <div class="form-group">
                    <input type="hidden" class="form-control" ID="TextBox11" value="gpstracking96@gmail.com" name="TextBox11" style="width:60%; height:auto;" required>
            </div>
           
 
                         <div class="form-group">
              <input type="hidden" class="form-control" ID="TextBox12"  value="GPS Tracking" name="TextBox12" style="width:60%; height:auto;" required>
            </div>



      <!........................................>
     
     
   

    </form>}}}
