@{
    ViewBag.Title = "ShowMap";
    Layout = "~/Views/Shared/Admin_LayoutPage1.cshtml";
}

    <script>
            function blinker() {
                $('.blinking').fadeOut(500);
                $('.blinking').fadeIn(500);
            }
            setInterval(blinker, 1000);
</script>


<script src="~/Content/jquery.min.js"></script>
<font face="arial black" color="green"><h3><P class="blinking"><b><img src="~/Content/Ok-icon.png" style="width:40px; height:40px;" />Your Location Has Been Traced....</b></P></h3></font>
<div class="row">
    <input type="hidden" value="show" id="btn" />
        <div class="col-sm-12" style="height:545px;">   
        <div class="row">
            <div id="googleMap" style="height:545px;"></div>
        </div>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAggAAD7VOvy6ah1LdOtTfF-HAlTNP6wAM&callback=initMap"></script>

        <script>
  $(document).ready(function()
   {
 // $("#btn").click(function(){
      //alert($("#longitude"+1).val());
  var c=$("#count").val();
   // alert(c)
      var myTrip=[];
      for(var x=0;x<c;x++)
      {
        //alert($("#longitude"+x).val()+","+$("#latatitude"+x).val());
          myTrip[x] = new google.maps.LatLng($("#longi" + x).val(), $("#lati" + x).val());
      // alert(myTrip[x-1]);
     }
    var mapProp = {
  center:myTrip[0],
  zoom:8,
  mapTypeId:google.maps.MapTypeId.ROADMAP
  };

var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
var flightPath=new google.maps.Polyline({
  path:myTrip,
  strokeColor:"red",
  strokeOpacity:0.8,
  strokeWeight:2
  });


flightPath.setMap(map);


      // This function takes an array argument containing a list of marker data

var infowindow = new google.maps.InfoWindow(), marker, i;
for (i = 0; i < c; i++) {
    marker = new google.maps.Marker({
        position: new google.maps.LatLng($("#longi" + i).val(), $("#lati" + i).val()),
        map: map
    });

}
         //  });
          });
        </script>

    </div>
</div>


@using GPSTrackingWebApp
@{
    mygpsEntities2 db = new mygpsEntities2();
    var p = db.personallonglats.ToList();
    int x = 0;
    foreach (personallonglat l in p)
    {
        if(l.pid.Equals(Session["id"]))
        {
        <Input type="hidden" id="longi@(x)" value="@l.lattitude" />
        <Input type="hidden" id="lati@(x)" value="@l.longitude" />

            x++;
            }
    }


    <input type="hidden" id="count" value="@x" />

}              