@{
    ViewBag.Title = "Driver";
    Layout = "~/Views/Shared/Master_LayoutPage1.cshtml";
}
<font color="green">
<div style="padding:20px;"> 
      @if (ViewBag.Message != null)
         { 
    
     @ViewBag.Message


    }
    </div>
    </font>